<h1>Welcome to the Bank, <%= @user.name %>!</h1>

<p>You have been added as an employee. Here are your login credentials:</p>
<ul>
  <li>Email: <%= @user.email %></li>
  <li>Password: <%= @user.password %></li>
</ul>
<p>Please keep this information confidential and also change your password at the time of first login.</p>

<p>Thank you for joining us.</p>
