<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h2>New account request</h2>
  <p>Hi,</p>
  <p>A new account request has been submitted.</p>
  <p>Customer name: <%= @account_request.user.name %></p>
  <p>Customer email: <%= @account_request.user.email %></p>
  <p>Please click the link below to approve the account request:</p>
</body>
</html>