<h1>Approved Customer Requests</h1>
  
<% if @approved_customers.any? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @approved_customers.each do |customer| %>
        <tr>
          <td><%= customer.name %></td>
          <td><%= customer.email %></td>
          <td><%= customer.account_request.status.capitalize %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No customers at the moment.</p>
<% end %>
