<div class="jumbotron">
  <h1>Welcome to the Banking App!</h1>
  <p>Experience a new way of banking with us.</p>
</div>

<%= image_tag 'stack-money-coin-with-trading-graph.jpg', alt: 'Bank Image', class: 'image' %>

<div class="row1">
  <div class="col-sm-3">
    <h3>Secure and Safe</h3>
    <p>Our top priority is to keep your information and transactions safe and secure with the latest security technology.</p>
  </div>
  <div class="col-sm-3">
    <h3>24/7 Support</h3>
    <p>We are here to help you with any questions or issues you may have. Contact us any time, day or night, and we will be there to assist you.</p>
  </div>
  <div class="col-sm-3">
    <h3>Easy to Use</h3>
    <p>Our app is designed with simplicity and ease of use in mind. You can easily manage your accounts, make transactions, and view your balances with just a few clicks.</p>
  </div>
</div>

<footer>
  <p>&copy; 2023 Banking App. All Rights Reserved.</p>
</footer>
