<div class="container">
  <h1>Pending Customer Requests</h1>

  <% if @pending_customers.any? %>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @pending_customers.each do |customer| %>
          <tr>
            <td><%= customer.user.name %></td>
            <td><%= customer.user.email %></td>
            <td><%= customer.account_request.status.capitalize %></td>
            <td>
              <%= link_to 'Create Account', new_account_path(customer_id: customer.user.id), method: :get, class: "btn btn-primary btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No pending customer requests at the moment.</p>
  <% end %>
</div>
