<h1>Customers</h1>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th>Account Details</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.user.name %></td>
        <td><%= customer.user.email %></td>
        <td><%= customer.account_request.status.capitalize %></td>
        <td><%= link_to "Account Details", account_details_path(customer_id: customer.id), class: "btn btn-primary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
